/* ═════════════════════════════════════════╗
  320px — 480px: Mobile devices.            ║
  481px — 768px: iPads, Tablets.            ║
  769px — 1024px: Small screens, laptops.   ║
  1025px — 1200px: Desktops, large screens. ║
═══════════════════════════════════════════*/
/*══════════════════════════════════════════╗
║             Global  variables             ║
╚═══════════════════════════════════════════*/
:root {
  --clr-accent: #28a745;
  --clr-accent-hover: #178430;
  --clr-accent-pbar: rgba(40, 167, 69, 0.25);

  --clr-txt-dark: #212629;
  --clr-txt-light: #8d9199;

  --shadow-green: 0 3px 15px 0 rgba(40, 167, 69, 0.42);
  --shadow-gray: 0 3px 20px 0 rgb(0, 0, 0, 16%);

  --mx-w: 1140px; /*max-width*/

}
/*══════════════════════════════════════════╗
║      Reseting  user agent stylesheet      ║
╚═══════════════════════════════════════════*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  margin: 0 auto;
  transition: all 0.5s;
}

/*══════════════════════════════════════════╗
║                Typography                 ║
╚══════════════════════════════════════════*/
body {
  font-family: "Nunito", sans-serif;
  color: var(--clr-txt-dark);
}

h1 {font: 600 2.625rem "Poppins"} /* 42px */
h2 {font: 600 2.5rem "Poppins"} /* 40px */
h3 {font: 500 2.25rem "Poppins"} /* 36px */
h4 {font: 500 1rem "Poppins"} /* 28px */
p {font: 1rem/1.375rem "Nunito"}
/* 22px | the unit is rem to make it chained to it's font size. */

a {
  text-decoration: none;
  font-weight: 500;
}

a,
a:active {color:var(--clr-txt-dark)}
a:hover {color:var(--clr-accent-hover)}

/*══════════════════════════════════════════╗
║             12-col grid system            ║
╚══════════════════════════════════════════*/
.container {
  width: 100%;
  max-width: var(--mx-w);
  margin: 0 auto;
  padding: 20px 15px;
  /*------test-------*/
  /* background-color: antiquewhite; */
  /* height: 100vh; */
}

/*══════════════════════════════════════════╗
║              Utility Classes              ║
╚══════════════════════════════════════════*/
.btn--primary {
  border-radius: 8px;
  padding: 10px 20px;
  box-shadow: var(--shadow-gray);
  background-color: var(--clr-accent);
}

.btn--primary,
.btn--primary:hover {color:white}

/*══════════════════════════════════════════╗
║                  header                   ║
╚══════════════════════════════════════════*/
header,
.header__nav-btn span,
.header__nav-btn span::before,
.header__nav-btn span::after,
.header__nav-list {background-color:white}

header {box-shadow:var(--shadow-gray)}

header .container,
.header__nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  padding-bottom: 23px;
  justify-content: space-between;
}

.header__nav-btn {
  width: 50px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #D5981E;
  box-shadow: none; /* overriding .btn--primary box-shadow*/
  cursor: pointer;
}

.header__nav-btn span,
.header__nav-btn span::before,
.header__nav-btn span::after {
  position: relative;
  display: block;
  height: 2px;
  width: 25px;
}

.header__nav-btn span::after,
.header__nav-btn span::before {content:""}
.header__nav-btn span::before {top:-8px}
.header__nav-btn span::after {bottom:-6px}

.header__nav-list {
  display: none;
  /* display: block; */
  width: 100%;
  position: absolute;
  left: 0;
  top: 13%;
  padding-bottom: 1.25em;
  opacity: 0.9;
}

.header__nav-list li {
  list-style: none;
  text-align: center;
  padding-block: 0.6em;
}

/*══════════════════════════════════════════╗
║                   hero                    ║
╚══════════════════════════════════════════*/
.hero, .hero .container {height:35vh}
.hero, .hero__breadcrumb li + li::before{color:white}

.hero {
  background-image: url(../image/campaign-banner.jpg);
  background-color: hsl(0deg 0% 20%);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
}

.hero .container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.hero .container,
.hero .container > * {text-align:center}

.hero__title {font-size:1.6rem}

.hero__breadcrumb li,
.hero__breadcrumb li + li::before {display:inline-block}

.hero__breadcrumb li {
  list-style: none;
  font-size: 0.9rem;
}

.hero__breadcrumb li + li {color:var(--clr-accent)}

.hero__breadcrumb li + li::before {
  content: ">>";
  padding-right: 0.2em; /* it depends on .hero__breadcrumb>li font-size */
  transform: scaleX(0.5);
}

/*══════════════════════════════════════════╗
║                   aside                   ║
╚══════════════════════════════════════════*/


/*══════════════════════════════════════════╗
║             aside > trendings             ║
╚══════════════════════════════════════════*/
.trendings h2 {font-size:1.6rem}

.trendings__arrows li {
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border: 1px solid var(--clr-accent);
  border-radius: 25px;
  margin: 16px 10px 16px 0;
  cursor: pointer;
}

.trendings__arrows img {vertical-align:middle}

.trendings__btn {display:inline-block}

/*══════════════════════════════════════════╗
║             aside > donations             ║
╚══════════════════════════════════════════*/
.donations.card {padding-block:40px}

.donations h3 {font-size:1.6rem}

.donations__item {
  list-style: none;
  margin: 20px 0 10px;
}

.donations__item h4 {
  display: grid;
  grid-template-columns: 10% 1fr 25%;
  justify-items: start;
  align-items: baseline;
  font-size: 0.9rem;
}

.donations__item-amount {justify-self:end}

.donations__item-amount::before {content:"$"}

.donations__item-progress-bar,
.donations__item-progress-bar::before {
  height: 5px;
  border-radius: 5px;
}

.donations__item-progress-bar {
  width: 100%;
  background-color: var(--clr-accent-pbar);
}

.donations__item-progress-bar::before {
  content: "";
  position: relative;
  display: inline-block;
  bottom: 11px;
  background-color: var(--clr-accent);
}

.donations__item:nth-child(1) .donations__item-progress-bar::before {width:100%}
.donations__item:nth-child(2) .donations__item-progress-bar::before {width:94%}
.donations__item:nth-child(3) .donations__item-progress-bar::before {width:100%}
.donations__item:nth-child(4) .donations__item-progress-bar::before {width:73%}
.donations__item:nth-child(5) .donations__item-progress-bar::before {width:11%}

/*══════════════════════════════════════════╗
║               main > cards                ║
╚══════════════════════════════════════════*/
.card {
  box-shadow: var(--shadow-gray);
  margin: 40px 0;
  padding: 20px 15px;
  border-radius: 25px;
}

.card > * + * {padding-block:10px}

.card__image,
.card__progress-bar {width:100%}

.card__image,
.card__progress-bar::before {position:relative}

.card__image {
  border-radius: 18px 18px 0 0;
  top: -4px;
}

.card__title {
  font-size: 1rem;
  font-weight: 600;
}

.card__info,
.card__progress-title,
.card__info--givers,
.card__info--donate-count,
.card__action,
.card__action li {
  display:flex;
  align-items: center;
}

.card__info,
.card__progress-title {
  align-items: baseline;
  justify-content: space-between;
}

.card__info--givers,
.card__info--donate-count,
.card__progress-title,
.card__progress-subtitle {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--clr-txt-light);
}

.card__info--givers,
.card__info--donate-count {justify-content:flex-start}

.card__info--givers::before,
.card__info--donate-count::before,
.card__progress-bar::before,
.card__action-like::before,
.card__action-share::before {
  content: "";
  display: inline-block;
}

.card__info--givers::before,
.card__info--donate-count::before,
.card__action-like::before,
.card__action-share::before {
  background-repeat: no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 0.3rem;
}

.card__info--givers::before {background-image:url(../image/icons/giver-icon.svg)}
.card__info--donate-count::before {background-image:url(../image/icons/wallet-icon.svg)}


.card__progress-bar,
.card__progress-bar::before {
  height: 5px;
  border-radius: 5px;
}

.card__progress-bar {background-color:var(--clr-accent-pbar)}

.card__progress-bar::before {
  bottom: 11px;
  background-color: var(--clr-accent);
}

.card:nth-child(1) .card__progress-bar::before {width:49.7%}
.card:nth-child(2) .card__progress-bar::before {width:30.5%}
.card:nth-child(3) .card__progress-bar::before {width:75.4%}
.card:nth-child(4) .card__progress-bar::before {width:53.2%}
.card:nth-child(5) .card__progress-bar::before {width:60%}
.card:nth-child(6) .card__progress-bar::before {width:83%}

/* NEVER use id's for styling!
Here I use it for fetching a avriable from my HTML's inline style */
#card1 .card__progress-status::before {content:var(--p)}
#card1 .card__progress-subtitle::before {content:var(--d)}
#card2 .card__progress-status::before {content:var(--p)}
#card2 .card__progress-subtitle::before {content:var(--d)}
#card3 .card__progress-status::before {content:var(--p)}
#card3 .card__progress-subtitle::before {content:var(--d)}
#card4 .card__progress-status::before {content:var(--p)}
#card4 .card__progress-subtitle::before {content:var(--d)}
#card5 .card__progress-status::before {content:var(--p)}
#card5 .card__progress-subtitle::before {content:var(--d)}
#card6 .card__progress-status::before {content:var(--p)}
#card6 .card__progress-subtitle::before {content:var(--d)}

.card__action,
.card__action li {list-style:none}

.card__action > * + * {margin-left:20px}

.card__action-donate {
  font-size: 0.75rem;
  padding: 0.8em 2em;
}

.card__action-like::before,
.card__action-share::before {cursor:pointer}
.card__action-like::before {background-image:url("../image/icons/favourite-icon.svg")}
.card__action-share::before {background-image:url("../image/icons/share-icon.svg")}


/*══════════════════════════════════════════╗
║                  footer                   ║
╚══════════════════════════════════════════*/
footer,
.footer__copyright {border-top: 1px solid lightgray}

footer .container,
.footer__menu,
.footer__social-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .container {flex-flow:column nowrap}

footer .container > * + * {margin-top:30px}

.footer__menu,
.footer__social-icons,
.footer__copyright {text-align:center}

.footer__menu,
.footer__social-icons {font-size:0.9rem}

.footer__menu,
.footer__copyright {width:100%}

.footer__social-icons {
  width: 75%;
  font-size: xx-small;
}

.footer__menu li,
.footer__social-icons li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
}

.footer__copyright {
  font-size: 0.7rem;
  color: var(--clr-txt-light);
  padding-top: 1.8em;
}